body {
  font-family: "Open Sans", sans-serif;
}
header,
footer {
  padding-left: 10px;
  font-weight: bold;
}
main {
  background-color: maroon;
  display: inline-block;
  width: inherit;
  padding: 0;
  margin: 0;
}
.card {
  background-color: red;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 2px solid black;
  border-radius: 20px;
}
.chrisImage {
  max-width: 40%;
  float: right;
}
.contactInfo {
  padding: 10px 10px;
  font-size: 0.8rem;
  margin: 0px;
  color: white;
}
.contactInfo > a {
  text-decoration: none;
  color: white;
}
