<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Setup Template Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Programing language list</h1>
    <ol>
            <%for (let item in list){%>
                <li><%=list[item]%></li>    
                <%
            }%>
    </ol>
</body>
</html>