html {
  font-family: sans-serif;
}

div {
  background-color: red;
  box-shadow: 2px 2px #00000059;
  border: 1px solid red;
  width: 10em;
  border-radius: 6px;
}
p {
  color: red;
  width: 10em;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
}