* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body p{
  margin: 0;
  /* background: #ccc; */
}

article {
  width: 210mm;
  height: 297mm;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

article img {
  box-shadow: 1px 1px black;
  border-radius: 4em;
  position: relative;
  bottom: 47px;
  right: -14px;
}
article h1 {
  top: -67px;
  left: 15px;
  color: #fff;
}